# package directories
node_modules

# local env files
.env
.env.*

# Serverless directories
.serverless

# Webpack directories
.webpack
/build/

# the db secrets
*_secrets.json

#vscode settings
.vscode